<footer>
    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12"><h1>Lorem Ipsum</h1></div>
            <div class="col-xs-12"><h3><small>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</small></h3></div>
        
            <div class="col-xs-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean maximus accumsan pretium. Fusce nibh diam, consectetur sed mi ut, hendrerit dapibus mi. Donec mi purus, placerat vulputate vulputate ut, fermentum eget sapien. Donec rutrum leo eu urna consectetur finibus. Integer ultrices mollis urna id rhoncus. Vestibulum rutrum, tellus ac tempor malesuada, libero elit fermentum enim, non lobortis odio ex nec arcu. Aenean non ante nisi. Donec hendrerit ornare sem, non dignissim mi tincidunt non. Maecenas bibendum augue eget arcu pharetra tincidunt. Fusce nisl ante, dictum ullamcorper convallis id, malesuada nec nisl. Phasellus iaculis suscipit nibh in sagittis. Ut sit amet dictum metus. Maecenas at nisl sit amet eros volutpat pharetra. Nullam venenatis felis vel ipsum viverra, et elementum ipsum aliquam. Nunc neque risus, sollicitudin a semper sed, iaculis pulvinar felis.</p>

                <p> Etiam facilisis quis nibh eget fermentum. Nunc sagittis purus vel felis congue, sit amet ornare mi consequat. Suspendisse potenti. Suspendisse vitae arcu a quam euismod congue vel at leo. Sed metus augue, finibus id elementum eget, pellentesque a felis. Pellentesque mattis accumsan mauris a bibendum. Quisque ut ornare orci, sed ornare dui. Aenean ultrices blandit enim, vitae molestie justo vehicula et. Fusce vitae justo eu turpis sollicitudin consequat. Proin ut nulla commodo, aliquet dui a, pellentesque ex. Pellentesque metus ligula, malesuada at scelerisque sit amet, convallis vel velit.</p>
            
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 custom-copyrights">
                <p>All rights reserved &copy; exampleCompany.com 2001-2020</p>
            </div>
        
        </div>
    </div>


</footer>